body{
 background-color: rgb(160, 241, 144);
 color: rgb(0, 0, 0);
    }
nav{
 padding: 5px;
 line-height: 30px;
    }
footer{
    position: fixed;
 bottom: 0;
 text-align: center;
 color: brown;
    }
header{
    text-align: center;
    }
